#top_bar
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username
{
    margin: 10px;
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#head
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#options
{
    margin: auto;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container
{
    margin: auto;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry_content
{
    width: 200px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color:#333; 
    background: yellowgreen;
    margin: 20px;
}

#wrapper
{
    margin: 0 auto;
    width: 280px;
}

.button
{
    margin-left: 20px;
    margin-right: 20px;
}